    body {
        text-align: center;
    font-family: Verdana, sans-serif;
    }

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

[role=banner] {
    background: url(https://images7.alphacoders.com/367/367671.jpg);
    height: 400px;
}

[role=banner] h1, h2 {
  color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;

}

[role=banner] h1 {
     font-size: 60px;
    border-top: white solid 1px;
    display: inline-block;
    clear: both !important;
    margin-top: 12%;
    width: 550px;
}


[role=banner] h2 {
 font-size: 30px;
    border-bottom: white solid 1px;
    display: inherit;
    clear: both;
    width: 460px;
    margin: auto;
    margin-top: -40px;
}

.summary {
        font-family: serif;
    font-style: italic;
    width: 60%;
    margin: auto;
}

.preamble {
    width: 60%;
    margin: auto;
}
.preamble h3 {
    color: hotpink;
     font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter;
}

.preamble p {
     font-size: 15px;
}

.supporting {
    width: 100%;
    margin-top: 50px;

}


.supporting h3 {
     color: hotpink;
     font-size: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

.supporting p {
   font-family: serif;
    font-style: italic;
}


.participation, .explanation, .benefits, .requirements {
    width: 80%;
    float: left;
    margin-left: 10%;
}

.participation {
}

.explanation {
}

.requirements {
}

.benefits {
}


.design-selection {
    width: 100%;
}


.design-selection h3 {
     font-size: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    color: hotpink;
}

.design-selection p {
   font-family: serif;
    font-style: italic;
}

[role=navigation] {
   text-transform: uppercase;
}

 ul{
   list-style: none;
     padding: 0;
}

li {
     text-transform: uppercase;
    font-size: 12px;
}

footer {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 60px;
}

footer a {
    color: white;
    text-transform: uppercase;
}

footer a:hover {
    color: hotpink;
    text-transform: uppercase;
}


.archives, .resources {
    color: hotpink;
       font-size: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
